* {
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

body {
    background-color: #8cc0b6;
}

/*header.container-fluid {
    padding:0px;
}*/

main {
    margin-top: 75px;
}

#back {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(230,230,230,0.5);
}

#back a {
    display: block;
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E95E3D;
}

.logo {
    height:400px;
    width:400px;
    margin:20px auto;
    position: relative;
}

.svgLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    animation:leftRotate 3s infinite;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    box-shadow:0px 10px 10px rgba(0,0,0,0.4);
}

.header-container {
    min-height: 500px;
    padding: 0px;
    background-image: url('https://i.redd.it/m6ptifyhde321.gif');
}

.header-head {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-head span,
.header-head h1{
    color: #E95E3D;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size:45px;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff;
    cursor: crosshair;
    transition: all 0.5s;
}

.header-head span:hover {
    color: #EE804E;
}

.press2play-container,
.header-head span::selection ,
.header-head h1::selection {
    background:transparent;
}

.header-head h1 {
    letter-spacing:0px;
 }

.header-head p {
    color: #0B1127;
    letter-spacing: 1px;
}

.tag-line {
    font-size: 18px;
}

.social-media a i {
    font-size: 25px;
    letter-spacing: 10px;
    color: #E95E3D;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000;
    transition: all 0.5s;
}

.social-media a i:hover {
    color:#EE804E;
}

.navbar {
    width:100%; 
    background-color: #EE804E;
    border-radius: 0px;
    height: 55px;
    transition: all 0.5s;
    overflow: hidden;
    /*margin-top: 25px;*/
}

.navbar h3 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000;
    margin-top: 10px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: 60px; 
}

.svg-logo {
    margin-left: -150px;
    transition: all 0.5s;
}

.nav-logo {
    margin-left: -30px;
    height: 100px;
    width: 100px;
}

.head-text {
    margin-left: 100px;
}

.scrolled-nav {
    position:fixed;
    top: 0px;
    /*width: 100%;*/
    z-index: 999;
    line-height: 100px;
    margin-top: 0px;
}

.scroll-height-up {
    height: 100px;
}

.scroll-height-down {
    height: 50px;
}

ul.navbar-nav li a {
    color: white !important;
}

.about-container {
    padding: 50px;
    margin-top: 100px;
    padding-top: 0px;
}

.about-container h3 {
    color: #E95E3D;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size:38px;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff;
}

.about {
    padding: 0px 10px;
}

.about-description {
    padding: 10px;
    margin-top:30px;
    border: none;
    border-radius: 15px;
    background-color:#EE804E;
    color: white;
    position: relative;
}

.about-description:before {
    content: "";
    border-bottom: 15px solid #EE804E;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position:absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.about-description:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid transparent;
    box-shadow: 0px 30px 20px rgba(0,0,0,1);
}



.about-image {
    margin-bottom: 20px;
    border: 2px solid white;
    padding: 0px;
    position: relative;
}

.about-image:before,
.about-image:after {
    content: "";
    position: absolute;
    width: 105%;
    height: 105%;
    border: 2px solid white;
}

.about-image:before {
    top: -5%;
    left: -5%;
}

.about-image:after {
    right: -5%;
    bottom: -5%;
}

.about-description p {
    text-indent: 20px;
}

.projects-header {
    margin-top: 100px;
}

.projects-header h2 {
    font-size: 100px;
    font-family: 'Press Start 2P', cursive;
    color: #EE804E;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff;
    position: relative;
}

.projects-header h2:before {
    content: "PROJECTS";
    color: #E95E3D;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 55%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.projects-header h2:after {
    content: "";
    width: 50%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 0px 10px rgba(0,0,0,0.8);
}

.projects-container {
    padding:20px;
    border:2px solid white;
    /*background-color: #EE804E;*/
}

.projects {
    padding: 10px;
    border: 5px dashed white;
    height: 720px;
    transition:all 0.5s ease;
    background-color: none;
    background-image:url('../images/indent.jpg');
    background-position: 50%, 50%;
    box-shadow: 5px 0px 50px rgba(0,0,0,0.7) inset;
}

.button-container {
    height: 450px;
    margin-top: 100px;
}

.gallery-container {
    padding: 0px;
    border-top: 2px solid white;
}

.gallery-header {
    font-size: 80px;
    font-family: 'Press Start 2P', cursive;
    color: #E95E3D;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff;
    margin-top: 100px;
}

.gallery {
    padding: 0px;
}

.gallery div {
    padding: 0px;
}

.gallery div img:last-child {
    box-shadow: 0px 5px 15px #eee;
}

.separate {
    width:100%;
    height:135px;
    position:relative;
}
            
.separate div {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.button {
    width:300px;
    height:50px;
    border: 2px solid;
    border-radius:3px;
    font-size:1.2em;
    background-color:transparent;
    position:relative;
    cursor:pointer;
    word-spacing:15px;
    outline:none;
    transition:all 0.4s;
}

.button.button-rotate:active {
    background-color: transparent;
}

.button span.glyphicon {
    width:20%;
    border-left:1px solid;
}

.button-float:hover {
    background-color:#D8231E;
    color:white;
}

.button:active {
    background-color:inherit;
    color:#D8231E;
}

.button-float {
    color:#D8231E;
    animation: float 2.5s infinite;
}

.button-float:active {
    color:white;
    border: 2px solid white;
    background-color: #D8231E;
}

.button-float:after {
    content:"";
    position:absolute;
    width:90%;
    height: 1px;
    bottom:-20px;
    left:50%;
    z-index:-1;
    transform:translateX(-50%);
    box-shadow: 3px 10px 8px rgba(0,0,0,0.4);
    animation: non-float 2.5s infinite;
}

@keyframes float {
    0%  {top:0px;}
    50%{top:8px;}
    100%{top:0px;}
}

@keyframes non-float {
    0%  {bottom:-20px;}
    50%{
        bottom:-12px;
        box-shadow:3px 10px 8px rgba(0,0,0,.9);
        width: 100%;
    }
    100%{
        bottom:-20px;
        width: 90%;
    }
}

.button-rotate {
    color:#560000;
    border:none;
}

.button-rotate:before, 
.button-rotate:after {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:150%;
    height:150%;
    border:2px solid;
    border-radius:3px;
    z-index:-1;
}

.button-rotate:hover {
    width:150px;
    height:150px;
    word-spacing:0px;
}

.button-rotate:hover span.glyphicon {
    border-left :none;
}

.button-rotate:hover::before {
     animation: leftRotate 2s infinite;   
}

.button-rotate:hover::after {
     animation: rightRotate 2s infinite;  
}

@keyframes leftRotate {
    0% {transform:translate(-50%,-50%) rotate(0deg);}
    100% {transform:translate(-50%,-50%) rotate(360deg);}
} 

@keyframes rightRotate {
    0% {transform:translate(-50%,-50%) rotate(0deg);}
    100% {transform:translate(-50%,-50%) rotate(-360deg);}
}

.copyright-container {
    height: 100px;
    background-color: #678776;
    margin-top: 100px;
    border-top: 1px solid #93A096;
}

.playGame-header h2{
    font-size: 80px;
    font-family: 'Press Start 2P', cursive;
    color: #E95E3D;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff;
}

.playGame {
    margin-top: 100px;
}

#breakerGame {
    width: 100%;
    height: 720px;
    background-color: black;
    transition: all 0.5s;
}

/*MOBILE*/
@media only screen and (max-width:420px) {
    #home {
        min-height: 700px;
    }

    .press2play:nth-child(1),
    .press2play:nth-child(2),
    .press2play:nth-child(3),
    .press2play:nth-child(4) {
        font-size: 60px;
    }

    .press2play:nth-child(7),
    .press2play:nth-child(8),
    .press2play:nth-child(9),
    .press2play:nth-child(10),
    .press2play:nth-child(11),
    .press2play:nth-child(12),
    .press2play:nth-child(13),
    .press2play:nth-child(14),
    .press2play:nth-child(15),
    .press2play:nth-child(16) {
        font-size: 28px;
    }

    .press2play:nth-child(22),
    .press2play:nth-child(23),
    .press2play:nth-child(24),
    .press2play:nth-child(25),
    .press2play:nth-child(26),
    .press2play:nth-child(27),
    .press2play:nth-child(28) {
        font-size: 40px;
    }

    .header-container {
        overflow: hidden;
        padding: 0px;
    }

    .logo {
        margin-top: -20px;
    }

    .header-head {
        margin-top: 0px;
    }

    .header-head span {
        font-size: 30px;
    }

    main {
        margin-top: 0px;
    }

    .skills-container {
        margin-top: 0px;
    }

    .skills-header h2 {
        font-size: 50px;
    }

    .skills {
        padding-left: 0px;
        padding-right: 0px;
    }

    .skills-container:after {
        content: "";
        position: absolute;
        border-left: 20px solid transparent;
        border-top: 20px solid  white;
        border-bottom: 20px solid  transparent;
        border-right: 20px solid  transparent;
        right: 40%;
        top: 100%;
        transform:translateX(-50%);
    }

    .about-container {
        margin-top: 50px;
        padding: 20px;
    }

    .projects-header {
        margin-top: 20px;
    }

    .projects-header h2 {
        font-size: 40px;
    }
/**/
    .playGame-header h2 {
        font-size: 10px;
    }
/**/
    .button {
        width: 230px;
    }

    .button.button-rotate {
        width: 150px;
    }

    .button.button-rotate:active {
        background-color: transparent;
    }
}

/*TO TABLETS*/
@media only screen and (min-width:421px) and (max-width: 780px) {
    #home {
        min-height: 700px;
    }

    .press2play:nth-child(1),
    .press2play:nth-child(2),
    .press2play:nth-child(3),
    .press2play:nth-child(4) {
        font-size: 60px;
    }

    .press2play:nth-child(7),
    .press2play:nth-child(8),
    .press2play:nth-child(9),
    .press2play:nth-child(10),
    .press2play:nth-child(11),
    .press2play:nth-child(12),
    .press2play:nth-child(13),
    .press2play:nth-child(14),
    .press2play:nth-child(15),
    .press2play:nth-child(16) {
        font-size: 28px;
    }

    .press2play:nth-child(22),
    .press2play:nth-child(23),
    .press2play:nth-child(24),
    .press2play:nth-child(25),
    .press2play:nth-child(26),
    .press2play:nth-child(27),
    .press2play:nth-child(28) {
        font-size: 40px;
    }

    .header-container {
        overflow: hidden;
        padding: 0px;
        height: 700px;
    }

    .logo {
        margin-top: 0px;
    }

    .header-head {
        margin-top: 0px;
    }

    .header-head span {
        font-size: 50px;
    }

    .social-media {
        font-size:10px;
    }

    main {
        margin-top: 0px;
    }

    .skills-container {
        margin-top: 0px;
    }

    .skills-header h2 {
        font-size: 90px;
    }

    .skills h3 {
        font-size:45px;
    }

    .skill-type {
        font-size: 27px;
    }

    .skills {
        padding-left: 0px;
        padding-right: 0px;
    }

    .skill-progress[value]:after {
        content: attr(value) '%';
        font-size: 20px;
    }

    .skills-container:after {
        content: "";
        position: absolute;
        border-left: 30px solid transparent;
        border-top: 30px solid  white;
        border-bottom: 30px solid  transparent;
        border-right: 30px solid  transparent;
        right: 40%;
        top: 100%;
        transform:translateX(-50%);
    }

    .about-container {
        margin-top: 50px;
        padding: 20px;
    }

    .about-container h3 {
        font-size:110px;
    }

    .about-description {
        margin-top: 50px;
    }

    .about-description p {
        text-indent: 50px;
        font-size: 32px;
    }

    .projects-header {
        margin-top: 20px;
    }

    .projects-header h2 {
        font-size: 90px;
    }
/**/
    .playGame-header h2 {
        font-size: 10px;
    }
/**/
    .button {
        height: 90px;
        width: 500px;
        font-size: 30px;
    }

    .button.button-rotate {
        width: 300px;
    }

    .button.button-rotate:hover:after ,
    .button.button-rotate:hover:before {
        width: 200px;
        height: 200px;
    }
}